h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
  font-weight: 500;
}

p {
  margin-top: 0;
  // line-height: 1.5;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
}
